body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    
    justify-content: center;
    text-align: center;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}
.im{
    background-color:#ffff;
    width: 400px;
    padding:30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,10);
    margin: 500px;
    margin-top: 100px;
    object-fit: cover;
}
.buttons a{
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background-color: blue;
    color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;

}
.buttons a:hover{
    background:#0056b3;
}
#name{
    font-style: oblique;
    color: darkgray;
}
.add{
    text-decoration: none;
}